<div class="row">
  <% @backup_codes.each do |code| %>
    <div class="col-md-3 code"><%= code %></div>
  <% end %>
</div>
<div class="row">
  <p>Be sure to write these codes down or save them to a file (in a secure place). If you lose access to your device you
  you can use one of these codes to log into Initrax. Please note this is the only time this page will be displayed. If
  you click the "Generate Backup Codes" button again it will invalidate these codes and generate new ones.</p>
</div>
