<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Initrax</a>
    </div>
    <a href="/users/sign_in" class="btn btn-primary btn-sm navbar-btn navbar-right btn-sign-in">Sign In/New Account</a>
  </div>
</nav>
<div class="jumbotron">
  <div class="container">
    <h1>Track Your Initiative</h1>
    <p>Initrax is an easy to use, no-frills initiative tracker for Pathfinder.</p>
  </div>
</div>
<section id="details" class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center">Make your Pathfinder RPG Combat Encounters easier</h2>
      <h4 class="text-center">Forget writing down names, rolling monster initiative, and losing track of HP. Let Initrax do it for you!</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h1 class="text-center">🎲</h1>
      <h4 class="text-center">Manage Your Players</h4>
      <p>Let your characters keep their character sheets. With Initrax, your only worry is knowing their initiative bonus and total number of hit points.</p>
    </div>
    <div class="col-md-4">
      <h1 class="text-center">👹</h1>
      <h4 class="text-center">Manage Campaign Monsters</h4>
      <p>Add your monsters for upcoming encounters, including their hit points and initiative bonuses. Our system will automatically roll their initiative for you.</p>
    </div>
    <div class="col-md-4">
      <h1 class="text-center">💪</h1>
      <h4 class="text-center">Track Your Encounters</h4>
      <p>Quickly build an encounter, selecting your party and the appropriate monsters. Initrax makes it easy to determine who goes first in combat.</p>
    </div>
  </div>
</section>
